/* Card singolo utente */
.user {
    /* Dati utente (nome, email) */
    &__data {
        margin: 0; /* Rimuove margini predefiniti */
    }

    /* Bottone di eliminazione */
    &__delete {
        margin-top: 8px; /* Spazio sopra il bottone */

        background: rgb(255, 89, 89); /* Colore rosso per azione di delete */
    }
}
