.users {
    /* Lista degli utenti */
    &__list {
        display: flex; /* Layout flessibile */
        align-items: center; /* Allineamento al centro orizzontale */
        flex-direction: column; /* Disposizione verticale */

        gap: 12px; /* Spazio tra le card */

        list-style: none; /* Rimuove i bullet point */
        padding: 0; /* Rimuove padding predefinito */
    }
}
